

<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>

<%= form_with model: @order do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_area :address %><br>
  </div>

  <div>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>