

<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>

Oid:<%= @order.id %>
Name: <%= @order.name %>
Address: <%= @order.address %>
Phone: <%= @order.phone %>
Total Amount: <%= @order.order_amount %>

<br>
Products: 
<ul>
<% @order.order_items.each do |order_item| %>
  <li> Product Name:  <%=order_item.product.name%> -- Quantity: <%=order_item.quantity%> -- Price:  <%=order_item.product.price%> </li> 
<%end%>
</ul>
