<%= link_to "Home", root_path %>
<%= link_to "Log Out", destroy_user_session_path, 'data-turbo-method': :delete %>
<br>
<ul>
<% @products.each do |product| %>
  <li>
  <%= link_to product.name, product_path(product) %>
  </li>
<% end %>
</ul>

<br>
<strong>categories</strong>
<%= @categories.each do |category| %>
  <br>
  <%= category %>
<%end%>