<section class=".bg-light">
<div class="container ">
  <div class="row ">

    <div class="col align-items-center ">
      <br><br><br>
      <%if @product.image.attached? %>  
          <%= image_tag @product.image, class: "rounded my-auto d-block", style: "max-width: 25rem;"%>
      <%else%>
          <%= image_tag "default.jpg", class: "rounded my-auto d-block", style: "max-width: 25rem;"%>
      <%end%>
      <br>
        <%if user_signed_in?%>
          <%if current_user.admin? %>
            <%= link_to "Edit", edit_product_path(@product),  role: "button", class: "btn btn-success"%>
          <%end%>
        <%end %>
        
        <%if !user_signed_in? || !current_user.admin? %>
          <%= button_to "add to cart", "/cart_products?product_id=#{@product.id}", class: "btn btn-success btn" %>
        <%end%>
      <br>
    </div>

    <div class="col text-start align" >
      <br><br><br><br>
      <p class="text-capitalize fs-1">
        <%= @product.name %>
      </p>
      <p class="fw-bold">
        Price: <%= @product.price%>
      </p>
      <p>
        desc: <%= @product.description%>
      </p>
    
    </div>
  </div>
</div>
</section>